<div class="breadcrumb">
  <div class="title">Create Item</div>
</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
    <div class="input-field">
      <label for="name">Item Name<span class="imp">*</span></label>
      <input type="text" formControlName="name" required>
    </div>
    <div class="input-field">
      <label for="category">Item Category<span class="imp">*</span></label>
      <select formControlName="category" required>
        @for (category of categories; track category) {
        <option [value]="category.id">{{ category.name }}</option>
        }
      </select>
    </div>
    <div class="input-field">
      <label for="image">Item Picture (Fileupload/Image Link)</label>
      <input type="file" #fileInput hidden (change)="onFileSelected($event)"/>
      @if(selectedFile){
      <div class="file">
        {{ selectedFile.name }}
        <button mat-icon-button type="button" (click)="removeFile()"><mat-icon>cancel</mat-icon></button>
      </div>
      }
      <button class="fileBtn" type="button" (click)="fileInput.click()">
        Select File
      </button>
    </div>
    <div class="input-field">
      <label for="attribute">Item Attribute(Color/Size)<span class="imp">*</span></label>
      <input type="text" formControlName="attribute" required>
    </div>
    <div class="input-field">
      <label for="weight">Weight<span class="imp">*</span></label>
      <input type="number" formControlName="weight" required>
    </div>

    <div class="input-field">
      <label for="weightUnit">Weight Unit<span class="imp">*</span></label>
      <select formControlName="weightUnit" required>
        @for (weightUnit of weightUnits; track weightUnit) {
        <option [value]="weightUnit">{{ weightUnit }}</option>
        }
      </select>
    </div>
    <div class="input-field">
      <label for="packingQty">Packing Quantity<span class="imp">*</span></label>
      <input type="number" formControlName="packingQty" required>
    </div>
    <div class="input-field">
      <label for="packingUnit">Packing Quantity Unit<span class="imp">*</span></label>
      <select formControlName="packingUnit" required>
        @for (packingUnit of packingUnits; track packingUnit) {
        <option [value]="packingUnit">{{ packingUnit }}</option>
        }
      </select>
    </div>
    <div class="input-field">
      <label for="brand">Item Brand<span class="imp">*</span></label>
      <select formControlName="brand" required>
        @for (brand of brands; track brand) {
        <option [value]="brand.id">{{ brand.name }}</option>
        }
      </select>
    </div>
    <div class="input-field">
      <label for="hsnCode">HSN Code<span class="imp">*</span></label>
      <input type="text" formControlName="hsnCode" required>
    </div>
    <div class="input-field">
      <label for="gst">GST Rate(in %)<span class="imp">*</span></label>
      <select formControlName="gst" required>
        @for (gst of gsts; track gst) {
        <option [value]="gst.id">{{ gst.rate }}</option>
        }
      </select>
    </div>
    <div class="input-field"></div>
    <div class="action-btns">
      <button mat-flat-button type="submit">Submit</button>
      <button mat-button type="button" style="padding: 0 20px;" (click)="navigateToListItemPage()">
        Cancel
      </button>
    </div>
  </form>

</div>