<div class="container">
  <header>
    <h3>Update User</h3>
  </header>
  <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
    <div class="input-field">
      <label for="firstName">First Name<span class="imp">*</span></label>
      <input type="text" class="input-txt" formControlName="firstName" required>
    </div>
    <div class="input-field">
      <label for="middleName">Middle Name</label>
      <input type="text" class="input-txt" formControlName="middleName">
    </div>
    <div class="input-field">
      <label for="lastName">Last Name<span class="imp">*</span></label>
      <input type="text" class="input-txt" formControlName="lastName" required>
    </div>
    <div class="input-field">
      <label for="email">Email<span class="imp">*</span></label>
      <input type="email" class="input-txt" formControlName="email" required>
    </div>
    <div class="input-field">
      <label for="mobileNo">Mobile No.<span class="imp">*</span></label>
      <input type="text" maxlength="10" minlength="10" class="input-txt" formControlName="mobileNo" pattern="\d{10}"
        (keydown)="validateNumberInput($event)" required>
    </div>
    <div class="input-field">
      <label for="role">Role<span class="imp">*</span></label>
      <select formControlName="role" required>
        @for (role of roles; track role) {
        <option [value]="role">{{ role }}</option>
        }
      </select>
    </div>
    <div class="action-btns">
      <button mat-flat-button type="submit">Update</button>
      <button mat-button type="button" style="color: red;padding: 0 20px;" (click)="navigateToListUserPage()">
        Cancel
      </button>
    </div>
  </form>

</div>