<div class="container">
    <div class="app-data">
        <img class="icon" src="/images/AIRO-FILE.png">
        <!-- <img class="title" src="/images/app-title.png"> -->
    </div>
    <div class="login-form">
        <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="on" ngNativeValidate>
            <div class="input-field">
                <label for="email">Email: </label>
                <input type="email" formControlName="email" name="email" id="email" autocomplete="email" required>
            </div>
            <br>
            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" formControlName="password" name="password" id="password" autocomplete="current-password" required>
            </div>
            <br>
            <div class="action-btns">
                <button class="submit" type="submit">Login</button>
                <button type="button" (click)="form.reset()">Clear</button>
            </div>
        </form>        
    </div>
</div>