@use "../../../constants/colors.scss" as color;

*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.app-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  .icon{
    width: 250px;
    height: 250px;
  }
  
  .title{
    width: 500px;
  }
}

.login-form{
  flex: 1;

  label{
    font-weight: bold;
    color: color.$iconColor;
    letter-spacing: 0.05rem;
  }

  .input-field{
    width: 300px;
  }

  .action-btns{
    display: flex;
    align-items: center;
    button{
      width: 138px;
    }
  }
}