<div class="container">
    <div class="flex">
        <table>
            <tr>
                <td>
                    <span class="title">Order No :</span>
                </td>
                <td>
                    <span class="value">{{'ORD'+orderId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="title">Approve Date :</span>
                </td>
                <td>
                    <span class="value">{{ user.approveDate }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="title">Employee ID :</span>
                </td>
                <td>
                    <span class="value">{{ user.code }}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="title">Employee Name :</span>
                </td>
                <td>
                    <span class="value">{{ user.name }}</span>
                </td>
            </tr>
            <tr>
                <td style="display: flex;">
                    <span class="title">Remark :</span>
                </td>
                <td>
                    <span class="value">Mobile No : {{ user.mobileNo }}</span><br>
                    <span class="value">designation : {{ user.designation }}</span><br>
                    <span class="value">Department : {{ user.department }}</span><br>
                    <span class="value">Address : {{ user.address }}</span><br>
                    <span class="value">Pincode : {{ user.pincode }}</span><br>
                    <span class="value">Email : {{ user.email }}</span><br>
                    <span class="value">LOB/LOC/CC : {{ user.lob+'/'+user.loc+'/'+user.cc }}</span><br>
                    <span class="value">Zone : {{ user.zone }}</span><br>
                    <span class="value">Web : {{ user.web }}</span><br>
                </td>
            </tr>
        </table>
        <div class="btns">
            <!-- <button class="edit">Edit</button> -->
            <button class="print" (click)="print()">Print</button>
            <button class="icon" mat-icon-button><mat-icon>print</mat-icon></button>
            <button class="export">Export</button>
        </div>
    </div>

    <div class="data">
        <table>
            <thead>
                <tr>
                    <th><input (click)="checkAll($event)" type="checkbox"></th>
                    <th>Order Detail Id</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Dispatch</th>
                    <th>Remark</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr>
                    <td><input type="checkbox" [checked]="item.checked" (click)="check($index)"></td>
                    <td>{{ item.orderDetailId }}</td>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.qty }}</td>
                    <td>
                        <select>
                            <option value=""></option>
                            <option [selected]="item.dispatch === 'Dispatch'" value="Dispatch">Dispatch</option>
                        </select>
                    </td>
                    <td>{{ item.remark }}</td>
                    <td>{{ item.address }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <div class="actn-btns">
        <button type="submit" (click)="submit()">Submit</button>&nbsp;&nbsp;
        <button type="button" (click)="cancel()">Cancel</button>
    </div>
</div>