<h2 class="title" mat-dialog-title>Edit Brand</h2>
<mat-dialog-content>
    <form [formGroup]="form" ngNativeValidate>
        <div class="input-field">
            <label for="name">Brand Name<span class="imp">*</span></label>
            <input type="text" class="input-txt" formControlName="name" required>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="action-btns">
        <button type="submit" (click)="submit()">Update</button>
        <button type="button" (click)="closeDialog()">Cancel</button>
    </div>
</mat-dialog-actions>