<div class="breadcrumb">
    <div class="title">Ticket Status</div>
    <div class="routes">
        <span class="route">ticket-status</span>
    </div>
</div>
<div class="container">
    <header>
        <div class="center">
            <select (change)="onSelectRow($event)">
                @for (row of rows; track row) {
                <option [selected]="row === limit()" [value]="row">{{ row }}</option>
                }
            </select>
        </div>
        <div>
            <div class="input-container">
                <input type="text" placeholder="Enter search term ..." [(ngModel)]="searchTxt" />
                <button mat-icon-button class="search" (click)="search()" [disabled]="!(searchTxt && searchTxt.length)">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </header>
    <br />
    <div class="data">
        <table>
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Order No</th>
                    <th>Order Date</th>
                    <th>Emp Name</th>
                    <th>Order Status</th>
                    <th>Subject</th>
                    <th>Reply</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ 'ORD' + item.orderId }}</td>
                    <td>{{ item.saveDate }}</td>
                    <td>{{ item.employeeName }}</td>
                    <td>{{ item.storeDispatchStatus }}</td>
                    <td>{{ item.ticket.subject }}</td>
                    <td> 
                        <button mat-icon-button (click)="openChat(item)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">comment</mat-icon>
                        </button>
                    </td>
                    <td> 
                        <button class="close-ticket" type="button" (click)="closeTicket(item.orderId)">Close Ticket</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="paginator">
        @if(items.length){
        <app-paginator (page)="navigate($event)" [size]="size()" [records]="records()" [from]="from()"
            [to]="to()"></app-paginator>
        } @else {
        <h2>No Data in the table...</h2>
        }
    </div>
</div>