@use "../../../../constants/colors.scss" as color;

.container{
    margin: 25px auto;
    padding: 25px 50px;
}

.header{
    width: 50%;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px 35px 35px;
    font-family: ROBOTO-LIGHT;

    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    margin: 0 auto;
}

table{
    border-collapse: collapse;
    white-space: nowrap;
}

tr>th,tr>td{
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-family: ROBOTO-THIN;
    text-align: center;
    padding: 5px 10px;
}

select{
    padding: 5px;
    border: 1px solid #ccc;
}

.body{
    width: 52%;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 25px auto 0;
    background-color: #fff;
}

.header-1{
    display: flex;
    justify-content: flex-end;
}

.disable {
    pointer-events: none; 
    opacity: 0.5; 
  }

  button{
    background-color: color.$submitBtnColor !important;
    font-family: ROBOTO-MEDIUM;
  }