<div class="container">
    <div class="toolbar">
        <div class="header">
            <img class="app-logo" src="/images/app-icon.png">
            @if(sideMenuOpened()){
            <img class="app-title" src="/images/app-title.png">
            }
            <button mat-icon-button (click)="sideMenuOpened.set(!sideMenuOpened())" [title]="sideMenuOpened() ? 'Close Menu' : 'Open Menu'"><mat-icon>{{ sideMenuOpened() ?
                    'keyboard_backspace' : 'menu' }}</mat-icon></button>
        </div>
        <div class="spacing"></div>
        <div class="user">
            <span class="username" [matMenuTriggerFor]="menu">Livingston Vijayakumar</span>
            <mat-icon>person</mat-icon>
            <mat-menu #menu="matMenu" yPosition="below">
                <button mat-menu-item>
                  <mat-icon>person_edit</mat-icon>
                  <span class="options">Update Profile</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span class="options">Logout</span>
                </button>
              </mat-menu>
        </div>
    </div>
    <div class="body">
        <div class="sidebar" [style.width.px]="sideMenusWidth()">
            <div class="sidemenus">
                <br>
                @for (item of items; track $index) {
                <!-- if side menu closed, show only icons with center position -->
                <div class="center" (click)="item.subItems.length === 0 ? navigate([item.route],[item]) : ''"
                    [style.justify-content]="!sideMenuOpened() ? 'center' : ''" [title]="item.label">
                    <mat-icon [ngClass]="item.selected() ? 'selected' : ''"
                        [fontSet]="item.selected() ? '' : 'material-icons-outlined'">{{item.icon}}</mat-icon>
                    <!-- show item label, arrow only if sidemenu opened -->
                    @if(sideMenuOpened()){
                    <span [ngClass]="item.selected() ? 'selected' : ''" class="label">{{item.label}}</span>
                    }
                    <!-- show arrow only if item.subItems.length > 0 and sidemenu opened -->
                    @if(sideMenuOpened() && item.subItems?.length){
                    <mat-icon [ngClass]="item.selected() ? 'selected' : ''"
                        (click)="item.showSubItem.set(!item.showSubItem())">{{item.showSubItem() ?
                        'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
                    }
                </div>

                <!-- sidemenu opened and item.arrow clicked show subItems -->
                @if(sideMenuOpened() && item.showSubItem()){
                @for (subItem of item.subItems; track $index) {
                <div
                    (click)="subItem.subItemsItems.length === 0 ? navigate([item.route,subItem.route],[item,subItem]) : ''">
                    <ul class="center submenu">
                        <mat-icon [ngClass]="subItem.selected() ? 'selected' : ''">{{subItem.icon}}</mat-icon>
                        <span class="label f-1"
                            [ngClass]="subItem.selected() ? 'selected' : ''">{{subItem.label}}</span>
                        @if(subItem.subItemsItems?.length){
                        <mat-icon [ngClass]="item.selected() ? 'selected' : ''"
                            (click)="subItem.showSubItemsItem.set(!subItem.showSubItemsItem())">{{subItem.showSubItemsItem()
                            ?'keyboard_arrow_up' :'keyboard_arrow_down'}}</mat-icon>
                        }
                    </ul>
                </div>
                @if(subItem.subItemsItems?.length && subItem.showSubItemsItem()){
                @for (subItemsItem of subItem.subItemsItems; track $index) {
                <div>
                    <ul class="center submenusmenu">
                        <mat-icon [ngClass]="subItemsItem.selected() ? 'selected' : ''">{{subItemsItem.icon}}</mat-icon>
                        <span class="label f-1" [ngClass]="subItemsItem.selected() ? 'selected' : ''"
                            (click)="navigate([item.route, subItem.route, subItemsItem.route], [item,subItem,subItemsItem])">{{subItemsItem.label}}</span>
                    </ul>
                </div>
                }
                }
                }
                }
                }
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>