<div class="container">
    <div class="toolbar">
        <button mat-icon-button (click)="sideMenuOpened.set(!sideMenuOpened())"><mat-icon>menu</mat-icon></button>
        <div class="spacing"></div>
        <div class="user">
            <h3>AOS User</h3>
        </div>
    </div>
    <div class="body">
        <div class="sidebar" [style.width.px]="sideMenusWidth()">
            <div class="sidemenus">
                <br>
                @for (item of items; track $index) {

                <!-- if side menu closed, show only icons with center position -->
                <div class="center" [style.justify-content]="!sideMenuOpened() ? 'center' : ''">
                    <mat-icon (click)="navigate([item.route], 'first')">{{item.icon}}</mat-icon>
                    <!-- show item label, arrow only if sidemenu opened -->
                    @if(sideMenuOpened()){
                    <span class="label">{{item.label}}</span>
                    }
                    <!-- show arrow only if item.subItems.length > 0 and sidemenu opened -->
                    @if(sideMenuOpened() && item.subItems?.length){
                    <mat-icon (click)="item.showSubItem.set(!item.showSubItem())">{{item.showSubItem() ?
                        'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
                    }
                </div>

                <!-- sidemenu opened and item.arrow clicked show subItems -->
                @if(sideMenuOpened() && item.showSubItem()){
                @for (subItem of item.subItems; track $index) {
                <div>
                    <ul class="center submenu">
                        <mat-icon>{{subItem.icon}}</mat-icon>
                        <span class="label f-1">{{subItem.label}}</span>
                        @if(subItem.subItemsItems?.length){
                        <mat-icon
                            (click)="subItem.showSubItemsItem.set(!subItem.showSubItemsItem())">{{subItem.showSubItemsItem()
                            ?'keyboard_arrow_up' :'keyboard_arrow_down'}}</mat-icon>
                        }
                    </ul>
                </div>
                @if(subItem.subItemsItems?.length && subItem.showSubItemsItem()){
                @for (subItemsItem of subItem.subItemsItems; track $index) {
                <div>
                    <ul class="center submenusmenu">
                        <mat-icon>{{subItemsItem.icon}}</mat-icon>
                        <span class="label f-1"
                            (click)="navigate([item.route, subItem.route, subItemsItem.route], 'third')">{{subItemsItem.label}}</span>
                    </ul>
                </div>
                }
                }
                }
                }
                }
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>