<div class="breadcrumb">
  <div class="title">Edit Courier</div>
</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
    <div class="input-field">
      <label for="companyName">Courier Company Name<span class="imp">*</span></label>
      <input type="text" formControlName="companyName" required>
    </div>
    <div class="input-field">
      <label for="mobileNo">Mobile No.<span class="imp">*</span></label>
      <input type="text" maxlength="10" minlength="10" class="input-txt" formControlName="mobileNo" pattern="\d{10}"
        (keydown)="validateNumberInput($event)" required>
    </div>
    <div class="input-field">
      <label for="contactPerson">Courier Contact Person<span class="imp">*</span></label>
      <input type="text" formControlName="contactPerson" required>
    </div>
    <div class="input-field">
      <label for="trackingWebsite">Tracking Website<span class="imp">*</span></label>
      <input type="text" formControlName="trackingWebsite" required>
    </div>
    <div class="input-field">
      <label for="email">Email<span class="imp">*</span></label>
      <input type="text" formControlName="email" required>
    </div>
    <div class="input-field"></div>
    <div class="action-btns">
      <button type="submit" (click)="submit()">Update</button>
      <button type="button" (click)="navigateToListCourierPage()">Cancel</button>
    </div>
  </form>
</div>
