<div class="container">
  <header>
    <h3>Create User</h3>
  </header>
  <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
    <div class="input-field">
      <label for="firstName">First Name<span class="imp">*</span></label>
      <input type="text" formControlName="firstName" required>
    </div>
    <div class="input-field">
      <label for="middleName">Middle Name</label>
      <input type="text" formControlName="middleName">
    </div>
    <div class="input-field">
      <label for="lastName">Last Name<span class="imp">*</span></label>
      <input type="text" formControlName="lastName" required>
    </div>
    <div class="input-field">
      <label for="email">Email<span class="imp">*</span></label>
      <input type="email" formControlName="email" required>
    </div>
    <div class="input-field">
      <label for="mobileNo">Mobile No.<span class="imp">*</span></label>
      <input type="text" maxlength="10" minlength="10" formControlName="mobileNo" pattern="\d{10}"
        (keydown)="validateNumberInput($event)" required>
    </div>
    <div class="input-field">
      <label for="role">Role<span class="imp">*</span></label>
      <select formControlName="role" required>
        @for (role of roles; track role) {
        <option [value]="role">{{ role }}</option>
        }
      </select>
    </div>
    <div class="input-field">
      <label for="password">Password<span class="imp">*</span></label>
      <div class="input-container">
        <input [type]="showPassword() ? 'text' : 'password'" formControlName="password" required style="height: 1.5rem;"/>
        <button type="button" mat-icon-button class="toggle-password" (click)="showPassword.set(!showPassword())">
          <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="input-field">
      <label for="confirmPassword">Confirm Password<span class="imp">*</span></label>
      <div class="input-container" >
        <input [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword"
          required style="height: 1.5rem;">
        <button type="button" mat-icon-button class="toggle-password"
          (click)="showConfirmPassword.set(!showConfirmPassword())">
          <mat-icon>{{ showConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="input-field"></div>
    <div class="action-btns">
      <button mat-flat-button type="submit">Submit</button>
      <button mat-button type="button" (click)="navigateToListUserPage()">
        Cancel
      </button>
    </div>
  </form>

</div>