<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-field">
      <label for="First Name">First Name<span class="imp">*</span></label>
      <input type="text" class="input-txt">
    </div>
    <!-- <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput formControlName="mobileNo" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          @for (role of roles; track role) {
          <mat-option [value]="role">{{ role }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" />
      </mat-form-field>
    </div> -->
    <!-- <div class="form-row">
      <button mat-flat-button type="submit">Submit</button>
      <button mat-button type="button" style="color: red;padding: 0 20px;" (click)="navigateToListUserPage()">
        Cancel
      </button>
    </div> -->
  </form>
</div>
