<div class="container">
  <header>
    <h3>Create GST</h3>
  </header>
  <form [formGroup]="form" ngNativeValidate>
    <div class="input-field">
      <label for="rate">GST Rate(in %)<span class="imp">*</span></label>
      <input type="number" class="input-txt" formControlName="rate" required>
    </div>
    <div class="input-field">
      <label for="rate">GST Applicable From<span class="imp">*</span></label>
      <input type="date" class="input-txt" formControlName="applicableDt" required>
    </div>
    <div class="action-btns">
      <button type="submit" (click)="submit()">Submit</button>
      <button type="button" (click)="navigateToListGstPage()">Cancel</button>
    </div>
  </form>
</div>