@use "../../../../../constants/colors.scss" as color;

.breadcrumb {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px 40px;
  font-family: ROBOTO-MEDIUM;
  color: #76838f;

  display: flex;
  justify-content: space-between;

  .title {
    font-size: 1.1rem;
    color: #0057a1;
  }

  .route {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    font-family: ROBOTO-THIN;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.container {
  background-color: #fff;
  padding: 20px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data {
  height: auto;
  max-height: 380px;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr > th,
  tr > td {
    border: 1px solid;
    border-color: color.$borderColor;
    text-align: center;
    background-color: color.$tableHeaderBackgroundColor;
  }

  tr > th {
    font-family: ROBOTO-MEDIUM;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 10px;
    color: color.$tableHeaderColor;
  }

  tr > td {
    font-family: ROBOTO-LIGHT;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 10px;
  }

  tr > .row-data:hover {
    background-color: #ccc;
  }
}

select {
  width: 55px;
  padding: 5px 8px;
  border: 1px solid color.$borderColor;
  border-radius: 3px;
  color: #000;
  font-size: medium;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(color.$carat);
  background-repeat: no-repeat;
  background-position: right 10px center;

  &:focus {
    outline: none;
  }
}

.input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  width: 250px;
  margin-left: 15px;
  padding-right: 40px; /* Space for the search button */
  box-sizing: border-box;
}

input:focus {
  outline-color: blue;
}

input::placeholder {
  font-size: 1rem;
}

.search {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

mat-icon {
  margin-top: 1px;
  font-size: 1.5rem;
}

.center {
  display: flex;
  align-items: center;
}

.btn-sm {
  font-family: ROBOTO-MEDIUM;
  border-radius: 10px;
  padding: 20px;
}

.add {
  font-weight: 500;
}

.paginator > h2 {
  text-align: center;
  font-family: ROBOTO-MEDIUM;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 25px;
  color: #76838f;
}

img {
  width: 100px;
  height: 20px;
  margin: 5px;
}
