<div class="breadcrumb">
    <div class="title">{{ module()[module().length - 1]}}</div>
    <div class="routes">
        @for (mod of module(); track $index) {
        <span class="route">{{ mod }} </span>
        @if($index < module().length - 1){ <span class="separator">/&nbsp;</span>
            }
            }
    </div>
</div>
<div class="container">
    <header>
        <div class="center">
            <select (change)="onSelectRow($event)">
                @for (row of rows; track row) {
                <option [value]="row">{{ row }}</option>
                }
            </select>
        </div>
        <div>
            <button mat-flat-button class="btn-sm" (click)="navigateToCreateData()">
                <mat-icon>add</mat-icon> {{ addBtnTxt() }}
            </button>
            <div class="input-container">
                <input type="text" placeholder="Enter search term ..." [(ngModel)]="searchTxt" />
                <button mat-icon-button class="search" (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </header>
    <br />
    <div class="data">
        <table>
            <thead>
                <tr>
                    @for (header of headers(); track $index) {
                    <th>{{ header }}</th>
                    }
                </tr>
            </thead>
            <tbody>

                @if(curModule() === userMaster()){
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.middleName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.mobileNo }}</td>
                    <td>{{ item.role }}</td>
                    <td>{{ item.saveDt }}</td>
                    <td>
                        <button mat-icon-button (click)="editData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
                }

                @else if (curModule() === itemMaster()) {
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.saveDt }}</td>
                    <td>
                        <button mat-icon-button (click)="editData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
                }

                @else if (curModule() === itemCategoryMaster()) {
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.saveDt }}</td>
                    <td>
                        <button mat-icon-button (click)="editData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
                }

                @else if (curModule() === itemPriceMaster()) {
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.middleName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.mobileNo }}</td>
                    <td>{{ item.role }}</td>
                    <td>{{ item.saveDt }}</td>
                    <td>
                        <button mat-icon-button (click)="editData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
                }

                @else if (curModule() === gstMaster()) {
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ item.rate + ' %' }}</td>
                    <td>{{ item.applicableDt | date: 'dd-MM-yyyy' }}</td>
                    <td><mat-icon>{{ item.isActive ? 'check' : 'close' }}</mat-icon></td>
                    <td>{{ item.saveDt }}</td>
                    <td>
                        <button mat-icon-button (click)="editData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
                }

                @else if (curModule() === courierMaster()) {
                @for (item of items; track $index) {
                <tr class="row-data">
                    <td>{{ $index + 1 + offset() * limit() }}.</td>
                    <td>{{ item.companyName }}</td>
                    <td>{{ item.contactPerson }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.trackingWebsite }}</td>
                    <td>{{ item.mobileNo }}</td>
                    <td>{{ item.saveDt }}</td>
                    <td>
                        <button mat-icon-button (click)="editData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteData(item.id)">
                            <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }
                }

                @else if (curModule() === brandMaster()) {
                    @for (item of items; track $index) {
                    <tr class="row-data">
                        <td>{{ $index + 1 + offset() * limit() }}.</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.saveDt }}</td>
                        <td>
                            <button mat-icon-button (click)="editData(item.id)">
                                <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">edit_note</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteData(item.id)">
                                <mat-icon style="color: #76838F;" fontSet="material-icons-outlined">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                    }
                    }

            </tbody>
        </table>
    </div>
    <div class="paginator">
        @if(items.length){
        <app-paginator (page)="navigate($event)" [size]="size" [records]="records" [from]="from()"
            [to]="to()"></app-paginator>
        } @else {
        <h2>No Data in the table...</h2>
        }
    </div>
</div>