<div class="container">
  <header>
    <div class="center">
      <select (change)="onSelectRow($event)">
        @for (row of rows; track row) {
        <option [value]="row">{{ row }}</option>
        }
      </select>
      &nbsp;&nbsp;&nbsp;
      <button class="btn-sm" (click)="loadData()">show</button>
    </div>
    <div class="center">
      <button class="btn-sm" (click)="openDialog('0ms', '0ms', null, null)">
        Add Item Category
      </button>
      <input class="search" type="text" placeholder="Enter search term ..." />
      <button class="btn-sm">search</button>
    </div>
  </header>
  <br />
  <div class="body">
    <div class="data">
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Category Name</th>
            <th>Date Added</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (item of items; track $index) {
          <tr>
            <td>{{ $index + 1 + offset * limit }}.</td>
            <td>{{ item.name }}</td>
            <td>{{ item.saveDt }}</td>
            <td>
              <!-- <button mat-icon-button (click)="viewCategory(item.id)">
                <mat-icon>visibility</mat-icon>
              </button> -->
              <button mat-icon-button (click)="editCategory(item.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteCategory(item.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="paginator">
      @if(items.length){
      <app-paginator
        (page)="navigate($event)"
        [size]="size"
        [records]="records"
        [from]="offset * limit + 1"
        [to]="offset * 2 * limit"
      ></app-paginator>
      } @else {
      <h2>No Data in the table...</h2>
      }
    </div>
  </div>
</div>
