.container {
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.flex{
  display: flex;

}

.title {
  font-size: 2rem;
  font-family: ROBOTO-MEDIUM;
}

.msg {
  font-size: 1.1rem;
  font-family: ROBOTO-MEDIUM;
}
