.container {
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.title {
  font-size: 1.2rem;
  font-family: POPPIN-BOLD;
  text-transform: capitalize;
  margin-bottom: -20px;
}

.msg {
  font-size: 1.1rem;
  font-family: ROBOTO-LIGHT;
}
