@use "../../constants/colors.scss" as color;

.breadcrumb {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px 25px;
  font-family: ROBOTO-MEDIUM;
  color: #76838f;

  display: flex;
  justify-content: space-between;
  border-radius: 5px;

  .title {
    font-size: 1.1rem;
    color: #0057a1;
  }
}

.container {
  width: auto;
  background-color: #fff;
  padding: 10px 25px 25px;
}


// button{
//   padding: 5px 10px;
//   border: none;
//   background-color: #3782fb;
//   border-radius: 5px;
//   color: #fff;
//   font-weight: 500;
// }

.footer{
  font-family: ROBOTO-LIGHT;
  font-size: 1.5rem;
  margin-top: 15px;
}