<div class="container">
    <div class="flex">
        <table>
            <tr>
                <td>
                    <span class="title">Order No :</span>
                </td>
                <td>
                    <span class="value">{{'ORD'+orderId}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="title">Employee ID :</span>
                </td>
                <td>
                    <span class="value">{{ user.code }}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="title">Employee Name :</span>
                </td>
                <td>
                    <span class="value">{{ user.name }}</span>
                </td>
            </tr>
            <tr>
                <td style="display: flex;">
                    <span class="title">Remark :</span>
                </td>
                <td>
                    <span class="value">Mobile No : {{ user.mobileNo }}</span><br>
                    <span class="value">designation : {{ user.designation }}</span><br>
                    <span class="value">Department : {{ user.department }}</span><br>
                    <span class="value">Address : {{ user.address }}</span><br>
                    <span class="value">Pincode : {{ user.pincode }}</span><br>
                    <span class="value">Email : {{ user.email }}</span><br>
                    <span class="value">LOB/LOC/CC : {{ user.lob+'/'+user.loc+'/'+user.cc }}</span><br>
                    <span class="value">Zone : {{ user.zone }}</span><br>
                    <span class="value">Web : {{ user.web }}</span><br>
                </td>
            </tr>
        </table>
    </div>

    <div class="data">
        <table>
            <thead>
                <tr>
                    <th>Order Detail Id</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Courier</th>
                    <th>Courier No</th>
                    <th>Date</th>
                    <th>Weight</th>
                    <th>Boxes</th>
                    <th>Transport</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr>
                    <td>{{ item.orderDetailId }}</td>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.qty }}</td>
                    <td>
                        <select (change)="onCourierChange($index, $event)" style="width: 150px;">
                            @for (courier of couriers; track $index) {
                            <option [selected]="item.courier ? item.courier.companyName === courier.companyName : false" [value]="courier.id">{{ courier.companyName }}</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" (input)="courierNo($index,$event)" [value]="item.courierNo"></td>
                    <td><input type="date" (input)="date($index,$event)" [value]="item.date"></td>
                    <td><input style="width: 75px;" type="number" (input)="weight($index,$event)" [value]="item.weight">
                    </td>
                    <td><input style="width: 75px;" type="number" (input)="boxes($index,$event)" [value]="item.boxes">
                    </td>
                    <td>
                        <select style="width: 100px;" (change)="onTransportChange($index, $event)">
                            @for (transport of transports; track $index) {
                            <option [selected]="item.transport === transport" value="{{ transport }}">{{ transport }}
                            </option>
                            }
                        </select>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <div class="action-btns">
        <button type="submit" (click)="submit()">Save</button>
        <button type="button" (click)="cancel()">Cancel</button>
    </div>
</div>